
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('background.jpg');
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 400px;
    width: 1000px;
        
}

.key{
    background-color: rgb(32, 31, 31);
    opacity: 80%;
    width: 100px;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 3px solid black;
    transition: all 0.07s;
    text-shadow: 0 0 5px black;
    
}

.key kbd{
    font-weight: bold;
    font-size: 25px;
}
.key span{
    color: rgb(252, 209, 16)
}

.playing{
    transform: scale(1.1);
    border-color: rgb(252, 209, 16);
    box-shadow: 0 0 10px rgb(252, 209, 16);
}